.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 30px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-image: radial-gradient(
        circle 325px at 19.2% 64.8%,
        rgba(254, 62, 101, 1) 9.7%,
        rgba(166, 24, 146, 1) 91.3%
    );
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.central {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heart {
    fill: none;
    stroke: white;
    stroke-width: 0.2em;
    stroke-linecap: round;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: drawLine 8s linear infinite alternate-reverse;
}

.pulse {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 180px;
    left: 180px;
    border-radius: 50%;
    border: 4px solid #fff;
    animation: pulsing 1.5s ease-out infinite both;
}

.pulsearound {
    width: 50px;
    height: 50px;
    top: 170px;
    left: 172px;
}

@keyframes drawLine {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes pulsing {
    0%,
    50% {
        opacity: 1;
        transform: scale(0);
    }
    70%,
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

