@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 4px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-image: linear-gradient(
    111.1deg,
    rgba(51, 7, 7) 28.5%,
    rgba(53, 26, 23, 1) 70.8%,
    rgba(123, 9, 10) 99.1%
  );
  color: #0f2027;
  font-family: "Monospace", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 320px;
  height: 300px;
  background: whitesmoke;
  transform: translate(-50%, -50%);
}

.pfp {
  float: left;
  width: 200px;
  height: 320px;
  text-align: center;
}

.imagepfp {
  position: relative;
  width: 70px;
  height: 70px;
  margin: 30px auto 0 auto;
  z-index: 0;
}

.imagepfp:before {
  content: "";
  background: linear-gradient(
    45deg,
    rgba(51, 7, 7) 28.5%,
    rgba(53, 26, 23, 1) 70.8%,
    rgba(123, 9, 10) 99.1%
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(10px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingimagepfp 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingimagepfp {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.imagepfp:active {
  color: #000;
}

.imagepfp:active:after {
  background: transparent;
}

.imagepfp:hover:before {
  opacity: 1;
}

.imagepfp:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.circle-image {
  object-position: 15% 15%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.name {
  font-size: 16px;
  font-weight: 600;
  line-height: 10px;
}

.title {
  font-size: 12px;
}

.buttons {
  margin-top: 35px;
}

.btn {
  border: none;
  padding: 0.8em 2.5em;
  outline: none;
  color: white;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background: none;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
  text-align: center;
  width: 120px;
  line-height: 12px;

  &:last-child{
    margin-top: 16px;
  }
}

.btn:before,
.btn:after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10em;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 105%;
  height: 105%;
  content: "";
  z-index: -2;
  background-size: 400% 400%;
  background: linear-gradient(
    111.1deg,
    rgba(51, 7, 7) 28.5%,
    rgba(53, 26, 23, 1) 70.8%,
    rgba(123, 9, 10) 99.1%
  );
}

.btn:before {
  -webkit-filter: blur(7px);
  filter: blur(7px);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-animation: pulse 10s infinite ease;
  animation: pulse 10s infinite ease;
}

.btn:after {
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px);
}

.btn:hover:before {
  width: 115%;
  height: 115%;
}

span {
  display: block;
}
.statBox {
  float: left;
}
.stat-item {
  background: rgba(1, 0, 0) 99.1%;
  box-sizing: border-box;
  width: 120px;
  height: 100px;
  text-align: center;
  padding-top: 28px;
  transition: all 0.3s ease-in-out;
  color: aliceblue;

  &:hover {
    color: aliceblue;
    background: linear-gradient( rgba(51, 7, 7) 28.5%,
    rgba(53, 26, 23, 1) 70.8%,
    rgba(123, 9, 10) 99.1%);
    cursor: pointer;
  }
  &:nth-child(2) {
    margin: 2px 0;
  }
}

.stat {
  font-size: 20px;
  font-weight: 500;
}
.statText {
  font-size: 14px;
}
