.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 30px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

#check {
    display: none;
}

.checked .bg {
    transform: scale(1);
}

.checked .ring,
.checked .stripes {
    opacity: 0;
    transform: scale(1);
    transition:
        transform 0.6s ease-out,
        opacity 0.3s ease-out 0.3s;
}
.checked .icon {
    border-radius: 0;
    transform: rotate(180deg) scale(1.1);
    box-shadow: -4px -8px 16px rgba(0, 0, 0, 0.2);
}

.label {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.bg {
    position: absolute;
    width: 600px;
    height: 600px;
    top: -100px;
    left: -100px;
    background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.6s ease-in-out;
}

.icon {
    position: absolute;
    top: 180px;
    left: 180px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    transition: all 0.6s ease-in-out;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

.ring {
    box-sizing: border-box;
    position: absolute;
    top: 125px;
    left: 125px;
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    border-radius: 50%;
    transform: scale(0);
    transition:
        transform 0.6s ease-in,
        opacity 0.3s ease-in;
}

.stripes {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 300px;
    height: 300px;
    transform: scale(0);
    transition:
        transform 0.6s ease-in,
        opacity 0.3s ease-in;
}
.stripes .stripe {
    position: absolute;
    top: 137px;
    left: 148px;
    height: 26px;
    width: 4px;
    background: #fff;
}

@keyframes background {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
