@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 30px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #121212;
    background: linear-gradient(135deg, #121212 25%, #fff 25%, #fff 50%, #121212 50%, #121212 75%, #fff 75%, #fff);
    background-size: 20px 20px;
    animation: move 4s linear infinite;
    color: #fff;
    font-family: "Open Sans", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:hover {
        animation: move 1s linear infinite;
    }
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 260px;
    height: 260px;
    border-radius: 30px;
    background: linear-gradient(
        135deg,
        #121212 25%,
        #1a1a1a 25%,
        #1a1a1a 50%,
        #121212 50%,
        #121212 75%,
        #1a1a1a 75%,
        #1a1a1a
    );
    background-size: 20px 20px;
    box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.3);
    animation: move 5s linear infinite;
}

h1 {
    position: relative;
    font-size: 24px;
    line-height: 2px;
    top: 20px;
    left: 25%;
    animation: hoverMe 4s ease-in-out forwards;
}

.polygons {
    position: absolute;
    width: 160px;
    height: 140px;
    top: 60px;
    left: 50px;

    polygon {
        transition: all 0.6s ease-in-out;
    }

    .light {
        fill: #eee;
    }
    .medium {
        fill: #ccc;
    }
    .dark {
        fill: #aaa;
    }

    &:hover {
        .light {
            fill: #c5f9d7;
        }
        .medium {
            fill: #f7d486;
        }
        .dark {
            fill: #f27a7d;
        }
    }
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 40px;
    }
}

@keyframes hoverMe {
    from {
        opacity: 1;
        display: block;
    }
    to {
        display: none;
        opacity: 0;
    }
}
