.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #262626;
    color: #333;
    font-family: "Open Sans", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#lamp {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #8c8f99;
}

.base {
    fill: #8c8f99;
    transition: all 0.5s ease-in-out;
}

.base:hover ~ .l {
    opacity: 0;
}

.light {
    fill: #8c8f99;
    box-shadow: 0 0 50px 10px #8c8f99;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    &:hover {
        fill: #fff35c;
    }
}
