.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 30px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    color: #333;
    font-family: "Open Sans", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center {
    position: relative;
    width: 100%;
    height: 100%;
}
.wave {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 20s linear infinite;
}

.wave1 .dot {
    background-color: #ff5733;
} 
.wave2 .dot {
    background-color: #ffc300;
} 
.wave3 .dot {
    background-color: #daf7a6;
} 
.wave4 .dot {
    background-color: #33ffbd;
} 

/* Cada punto */
.dot {
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    animation: dot-wave 2s linear infinite;
    transform-origin: center;
}

/* Animación de rotación para la onda */
@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) scale(1);
    }
}

/* Animación de cada punto para que aparezca y desaparezca */
@keyframes dot-wave {
    0%,
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
}
